.index{

    width: 100%;


    .navbar{
        display: flex;
        justify-content: center;
        column-gap: 2rem;
        padding: 1rem;
        border-bottom: 1px black solid;

    }


    
}